<!-- template/members.html-->
<!DOCTYPE html>
<html>
<head>
    <title style="text-align: center;">Mitglierderliste</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Alle Mitglieder</h2>                                 
        <ul style="list-style-type: none; padding: 0;">
            {% for member in members %}                            
                <li >{{ member.id }} : {{ member.name }}</li>
            {% endfor %}
        </ul>
        <a href="/add-Member">Neues Mitglied hinzugefügt</a>
    </div>
</body>
</html>







