<!-- template/members.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Mitglierderliste</title>
</head>
<body>
    <h1>Alle Mitglieder</h2>                                 <!-- https://documentation.bloomreach.com/engagement/docs/jinja-syntax -->
    <ul>
        {% for member in members %}                            <!-- Jinja2-Syntax -->
            <li>{{ member.id }} : {{ member.name }}</li>
        {% endfor %}
    </ul>
    <a href="/add-Member">Neues Mitglied hinzugefügt</a>
</body>
</html>







